@use 'sass:math';
@use './colors' as *;

//
// Variables
//

$font-family-sans: 'Montserrat', 'Avenir', 'Helvetica Neue', sans-serif;
$font-family-mono: 'Inconsolata', 'Ubuntu Mono', monospace;

$font-size-base: 1rem;
$font-size-scale-ratio: 1.25;
$font-size-small: math.div($font-size-base, $font-size-scale-ratio);

$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1.5; //for small, base
$line-height-small: 1.25; // for headings

$letter-spacing-base: .005em; // for base, base bold, 
$letter-spacing-large-1: .02em; // for small, base mono,
$letter-spacing-large-2: 0.12em; // for h5 capitalized
$letter-spacing-large-3: 0.16em; // for base capitalized
$letter-spacing-small-1: 0; // for heading h5, h2, h1
$letter-spacing-small-2: -.005em; // for heading h4, h3


//
// Font-sans maps
//

$font-sans-levels: small,
  base,
  bold,
  capitalized,
  md,
  md-capitalized,
  lg,
  xl,
  xxl,
  xxxl;

$font-sans-sizes: (
  small: $font-size-small,
  base: $font-size-base,
  bold: $font-size-base,
  capitalized: $font-size-base,
  md: $font-size-base * $font-size-scale-ratio,
  md-capitalized: $font-size-base * $font-size-scale-ratio,
  lg: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio,
  xl: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio,
  xxl: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio,
  xxxl: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio
);

$font-sans-colors: (
  small: map-get($theme-color-primary, lighter-4),
  base: map-get($theme-color-primary, reverse),
  bold: map-get($theme-color-primary, reverse),
  capitalized: map-get($theme-color-accent, lighter),
  md: map-get($theme-color-primary, reverse),
  md-capitalized: map-get($theme-color-primary, reverse),
  lg: map-get($theme-color-primary, reverse),
  xl: map-get($theme-color-primary, reverse),
  xxl: map-get($theme-color-primary, reverse),
  xxxl: map-get($theme-color-primary, reverse)
);

$font-sans-weights: (
  small: $font-weight-base,
  base: $font-weight-base,
  bold: $font-weight-bold,
  capitalized: $font-weight-light,
  md: $font-weight-semibold,
  md-capitalized: $font-weight-light,
  lg: $font-weight-semibold,
  xl: $font-weight-semibold,
  xxl: $font-weight-semibold,
  xxxl: $font-weight-semibold
);

$font-sans-line-heights: (
  small: $line-height-base,
  base: $line-height-base,
  bold: $line-height-base,
  capitalized: $line-height-base,
  md: $line-height-small,
  md-capitalized: $line-height-small,
  lg: $line-height-small,
  xl: $line-height-small,
  xxl: $line-height-small,
  xxxl: $line-height-small
);

$font-sans-letter-spacings: (
  small: $letter-spacing-base,
  base: $letter-spacing-large-1,
  bold: $letter-spacing-base,
  capitalized: $letter-spacing-large-3,
  md: $letter-spacing-small-1,
  md-capitalized: $letter-spacing-large-2,
  lg: $letter-spacing-small-2,
  xl: $letter-spacing-small-2,
  xxl: $letter-spacing-small-1,
  xxxl: $letter-spacing-small-1
);

$font-sans-settings: (
  size: (
    small: $font-size-small,
    base: $font-size-base,
    bold: $font-size-base,
    capitalized: $font-size-base,
    md: $font-size-base * $font-size-scale-ratio,
    md-capitalized: $font-size-base * $font-size-scale-ratio,
    lg: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio,
    xl: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio,
    xxl: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio,
    xxxl: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio
  ),
  color: (
    small: map-get($theme-color-primary, lighter-4),
    base: map-get($theme-color-primary, reverse),
    bold: map-get($theme-color-primary, reverse),
    capitalized: map-get($theme-color-accent, lighter),
    md: map-get($theme-color-primary, reverse),
    md-capitalized: map-get($theme-color-primary, reverse),
    lg: map-get($theme-color-primary, reverse),
    xl: map-get($theme-color-primary, reverse),
    xxl: map-get($theme-color-primary, reverse),
    xxxl: map-get($theme-color-primary, reverse)
  ),
  weight: (
    small: $font-weight-base,
    base: $font-weight-base,
    bold: $font-weight-bold,
    capitalized: $font-weight-light,
    md: $font-weight-semibold,
    md-capitalized: $font-weight-light,
    lg: $font-weight-semibold,
    xl: $font-weight-semibold,
    xxl: $font-weight-semibold,
    xxxl: $font-weight-semibold
  ),
  line-height: (
    small: $line-height-base,
    base: $line-height-base,
    bold: $line-height-base,
    capitalized: $line-height-base,
    md: $line-height-small,
    md-capitalized: $line-height-small,
    lg: $line-height-small,
    xl: $line-height-small,
    xxl: $line-height-small,
    xxxl: $line-height-small
  ),
  letter-spacing: (
    small: $letter-spacing-base,
    base: $letter-spacing-large-1,
    bold: $letter-spacing-base,
    capitalized: $letter-spacing-large-3,
    md: $letter-spacing-small-1,
    md-capitalized: $letter-spacing-large-2,
    lg: $letter-spacing-small-2,
    xl: $letter-spacing-small-2,
    xxl: $letter-spacing-small-1,
    xxxl: $letter-spacing-small-1
  )
);


//
// Font-mono maps
//

$font-mono-levels: small,
  base;

$font-mono-sizes: (
  small: $font-size-small,
  base: $font-size-base
);

$font-mono-colors: (
  small: map-get($theme-color-primary, lighter-4),
  base: map-get($theme-color-primary, reverse)
);

$font-mono-weights: (
  small: $font-weight-bold,
  base: $font-weight-bold
);

$font-mono-line-heights: (
  small: $line-height-base,
  base: $line-height-base
);

$font-mono-letter-spacings: (
  small: $letter-spacing-large-1,
  base: $letter-spacing-large-1
);

$font-mono-settings: (
  size: (
    small: $font-size-small,
    base: $font-size-base
  ),
  color: (
    small: map-get($theme-color-primary, lighter-4),
    base: map-get($theme-color-primary, reverse)
  ),
  weight: (
    small: $font-weight-bold,
    base: $font-weight-bold
  ),
  line-height: (
    small: $line-height-base,
    base: $line-height-base
  ),
  letter-spacing: (
    small: $letter-spacing-large-1,
    base: $letter-spacing-large-1
  )
);

//
// Mixins
//

// Font-face
@mixin font-face($font-family,
  $file-name,
  $font-weight: normal,
  $font-style: normal,
  $font-display: swap) {
  @font-face {
    $font-path: '~/assets/fonts/';

    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;

    src: url($font-path + $file-name + '.woff') format('woff'),
      url($font-path + $file-name + '.woff2') format('woff2');
  }
}

// Font-sans styles
@mixin font-sans($level) {
  font-family: $font-family-sans;
  font-size: map-get($font-sans-sizes, $level);
  color: map-get($font-sans-colors, $level);
  font-weight: map-get($font-sans-weights, $level);
  line-height: map-get($font-sans-line-heights, $level);
  letter-spacing: map-get($font-sans-letter-spacings, $level);

  @if index(capitalized md-capitalized, $level) {
    text-transform: uppercase;
  }
}

// Font-mono styles
@mixin font-mono($level) {
  font-family: $font-family-mono;
  font-size: map-get($font-mono-sizes, $level);
  color: map-get($font-mono-colors, $level);
  font-weight: map-get($font-mono-weights, $level);
  line-height: map-get($font-mono-line-heights, $level);
  letter-spacing: map-get($font-mono-letter-spacings, $level);
}