@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;

//
// Mixins
//

// Font-face
@mixin font-face(
  $font-family,
  $file-name,
  $font-weight: normal,
  $font-style: normal,
  $font-display: swap ) {
  @font-face {
    $font-path: '~/assets/fonts/';

    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;

    src: url($font-path + $file-name + '.woff') format('woff'),
      url($font-path + $file-name + '.woff2') format('woff2');
  }
}

// Font-sans styles
@mixin font-sans($level) {
  font-family: $font-family-sans;
  font-size: map-get($font-sans-sizes, $level);
  color: map-get($font-sans-colors, $level);
  font-weight: map-get($font-sans-weights, $level);
  line-height: map-get($font-sans-line-heights, $level);
  letter-spacing: map-get($font-sans-letter-spacings, $level);

  @if index(capitalized md-capitalized, $level) {
    text-transform: uppercase;
  }
}

// Font-mono styles
@mixin font-mono($level) {
  font-family: $font-family-mono;
  font-size: map-get($font-mono-sizes, $level);
  color: map-get($font-mono-colors, $level);
  font-weight: map-get($font-mono-weights, $level);
  line-height: map-get($font-mono-line-heights, $level);
  letter-spacing: map-get($font-mono-letter-spacings, $level);
}


//
// Font-face generation
//
@include font-face("Montserrat",
  "montserrat-semibold",
  600);
@include font-face("Montserrat",
  "montserrat-regular",
  normal);
@include font-face("Montserrat",
  "montserrat-light",
  300);
@include font-face("Inconsolata",
  "inconsolata-bold",
  700,
  $font-display: fallback);


//
// Font classes
//
.font-sans {
  @each $level in $font-sans-levels {
    &--#{$level} {
      @include font-sans($level);
    }
  }
}

.font-mono {
  @each $level in $font-mono-levels {
    &--#{$level} {
      @include font-mono($level);
    }
  }
}