@use '../abstracts/layout' as *;

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 $spacer;

  @media screen and (min-width: $breakpoint-m) {
    display: grid;
    padding: 0 map-get($spacers, 7);
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
  }
}

.section {
  &--full {
    @media screen and (min-width: $breakpoint-m) {
      grid-column: span 6;
    }
  }

  &--half {
    @media screen and (min-width: $breakpoint-m) {
      grid-column: span 3;
    }
  }

  &--third {
    @media screen and (min-width: $breakpoint-m) {
      grid-column: span 3;
    }
  }
}
