@use '../../abstracts' as *;

$icon-sizes: (
  s: 1rem,
  m: 1.25rem,
  l: 1.5rem,
  xl: 2rem
);

$icon-wrapper-sizes: (
  s: 2.5rem,
  m: 3rem,
  l: 4rem
);

$icon-sizes-suffix: s, m, l, xl;
$icon-wrapper-sizes-suffix: s, m, l;

.icon {
  @each $size in $icon-sizes-suffix {
    &--#{$size} {
      width: map-get($icon-sizes, $size);
      height: map-get($icon-sizes, $size);
      font-size: map-get($icon-sizes, $size);
    }
  }

  &-wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    @each $size in $icon-wrapper-sizes-suffix {
      &--#{$size} {
        width: map-get($icon-wrapper-sizes, $size);
        height: map-get($icon-wrapper-sizes, $size);
      }
    }

    &--circle {
      border-radius: 50%;
    }

    &--square {
      position: relative;
      z-index: map-get($z-index, base-increase);

      &::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-style: solid;
        top: 50%;
        left: 50%;
        z-index: map-get($z-index, base-decrease);
        transform-origin: center;
        transform: translate(-50%, -50%)
          rotate(45deg);
      }
    }
  }

  .nuxt-icon {
    line-height: 1;

    svg {
      margin-bottom: 0;
    }
  }
}