@use '../../abstracts/fonts' as *;
@use '../../abstracts/colors' as *;

.link {
  position: relative;
  font-size: var(--font-sans-size-base);
  color: var(--color-accent-lighter);
  font-weight: var(--font-sans-weight-base);
  line-height: var(--font-sans-line-height-base);
  letter-spacing: var(--font-sans-letter-spacing-base);
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 100%;
    height: 2px;
    background: linear-gradient(
      to right,
      var(--color-accent-base),
      color-mix(
        in srgb,
        transparent var(--opacity-percentage-8),
        var(--color-accent-lighter)
      ));
    transition: right .16s ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      right: 0;
    }
  }
}